@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --header-height: 3.5rem;
    /* ======Themed Colors======= */
    --first-color: hsl(28,88%, 62%);
    --first-color-alt: hsl(28, 84%, 58%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --text-color-light: hsl(0, 0%, 65%);
    --black-color: hsl(0, 0%, 6%);
    --body-color: hsl(0, 0%, 6%);
    --container-color: hsl(0,0%, 10%);

    /* ========Fonts======== */
   --body-font: "Montserrat", sans-serif;
   --second-font: "Dancing Script", cursive;
   --biggest-font-size: 3rem;
   --bigger-font-size: 2rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;

   /* =======Font Weight======= */
   --font-regular: 400;
   --font-semi-bold: 600;
   --font-bold: 700;

   /* =======z-index======= */
   --z-tooltip: 10;
   --z-fixed: 100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,
button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
button{
    border: none;
    outline: none;
}
h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}
.section_title{
    font-size: var(--bigger-font-size);
    font-family: var(--second-font);
    margin-bottom: 1.5rem;
    text-align: center;
}
.main{
    overflow: hidden;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    color: var(--first-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    transition: color .4s;
}
.nav_logo:hover{
    color: var(--first-color-alt);
}
.nav-toggle,
.nav-close{
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}
/* Navigation for Mobile devices */
@media screen and (max-width: 1150px){
    .nav-menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 6%, .2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;
        }
}
.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.nav_link{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.nav_link:hover{
    color: var(--first-color);
}
.nav-close,
.nav_img-1,
.nav_img-2{
    position: absolute;
}
.nav-close{    
    top: 1rem;
    right: 1.5rem;
}
.nav_img-1{
    width: 80px;
    top: 11rem;
    right: .75rem;
}
.nav_img-2{
    width: 60px;
    top: 28rem;
    left: 6rem;
}
.show-menu{
    right: 0;
}
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%; 
    background-color: hsla(0, 0%, 6%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;
}
.active-link{
    color: var(--first-color);
}
.home{
    position: relative;
    padding-top: 3.5rem; /*6.5*/
}
.home_bg,
.home_shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home_bg{
    object-fit: cover;
    object-position: center;
}
.home_shadow{
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 0%,
                hsl(0, 0%, 6%) 100%);
}
.home_container{
    row-gap: 2rem;
}
.home_data{
   position: relative;
   text-align: center; 
}
.home_title{
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    margin-top: 1.2rem;
    margin-bottom: 2.5rem;
}
.home_bread{
    width: 50px;
    position: absolute;
    top: 15rem; 
    left: 4rem; 
}
.home_image{
    max-width: 400px;
    justify-self: center;
}
.home_img{
    rotate: 15deg;
}
.home_footer,
.home_location,
.home_social{
    display: flex;
}
.home_footer{
    justify-content: space-between;
    align-items: center;
}
.home_location{
    align-items: center;
    column-gap: .5rem;
}
.home_location i{
    font-size: 1.5rem;
    color: var(--first-color);
}
.home_location span{
    color: var(--title-color);
    font-size: var(--small-font-size);
}
.home_social{
    column-gap: 1rem;
}
.home_social a{
    color: var(--title-color);
    font-size: 1.5rem;
    transition: color .4s;
}
.home_social a:hover{
    color: var(--first-color);
}
.button{
    display: inline-flex;
    background: var(--first-color);
    color: var(--black-color);
    /* font-family: var(--second-font); */
    font-weight: var(--font-semi-bold);
    padding: 1.125rem 2rem;
    border-radius: 50%;
    transition: background-color .4s;
}
.button:hover{
    background-color: var(--first-color-alt);
}
.new_container{
   padding-top: 1.5rem;
   row-gap: 3.5rem;
}
.new_content{
    row-gap: 2rem;
}
.new_card{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.new_img{
    width: 150px;
}
.new_title{
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    color: var(--first-color);
    margin-bottom: .5rem;
}
.new_description{
    font-size: var(--small-font-size);
}
.new_card:nth-child(2) img{
    order: -1;
}
.new_button{
    justify-self: center;
}
.about_container{
    row-gap: 4rem;
}
.about_data{
    position: relative;
    text-align: center;
}
.about_description{
    margin-bottom: 3rem;
}
.about_bread{
    width: 70px; /*60*/
    position: absolute;
    bottom: 1rem;
    right: 0;
}
.about_img{
    width: 320px;
    justify-self: center;
}
.favourite_container{
    padding-top: 3.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 1.5rem;
}
.favourite_card{
    position: relative;
    background-color: var(--container-color);
    box-shadow: 0 12px 24px hsla(0, 0%, 0%, .3);
    padding: 6.5rem 1rem 1.25rem;  
    border: 2px solid transparent;
    transition: border-color .4s;
}
.favourite_img{
    width: 120px; 
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.favourite_title{
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    color: var(--first-color);
}
.favourite_subtitle{
    display: block;
    margin-bottom: .75rem;
}
.favourite_price{
    font-size: var(--normal-font-size);
    font-family: var(--second-font);
}
.favorite_button{
    padding: .35rem;
    font-size: 1.25rem;
    position: absolute;
    bottom: 1.25rem;
    right: 1rem;
    cursor: pointer;
}
.favourite_card:hover{
    border-color: var(--first-color);
}
.visit_container{
    position: relative;
    padding-block: 3rem;
}
.visit_bg,
.visit_shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.visit_bg{
    object-fit: cover;
    object-position: center;
}
.visit_shadow{
    background: linear-gradient(180deg,
                hsl(0, 0%, 6%) 0%,
                hsla(0, 0%, 4%, .1) 50%,
                hsl(0, 0%, 6%) 100%);
}
.visit_data{
    text-align: center;
}
.visit_description{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: 3rem;
}
.footer{
    padding-block: 3rem 2rem;
}
.footer_container{
    position: relative;
    row-gap: 4rem;
}
.footer_logo{
    display: inline-block;
    color: var(--first-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    margin-bottom: .5rem;
    transition: color .4s;
}
.footer_logo:hover{
    color: var(--first-color-alt);
}
.footer_content{
    grid-template-columns: repeat(2, max-content);
    gap: 4rem 2rem;
}
.footer_title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
}
.footer_list{
    display: grid;
    row-gap: .75rem;
}
.footer_info{
    font-style: var(--font-semi-bold);
}
.footer_social{
    display: flex;
    column-gap: 1rem;
}
.footer_social a{
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color .4s;
}
.footer_social a:hover{
    color: var(--first-color);
}
.footer_img-1,
.footer_img-2{
    position: absolute;
}
.footer_img-1{
    width: 60px;
    top: 2.5rem;
    right: 1.5rem;
}
.footer_img-2{
    width: 70px;
    top: 17rem;
    left: 9rem;
}
.footer_copy{
    display: block;
    margin-top: 6rem;
    text-align: center;
    font-size: var(--small-font-size);

}
/* ========Scroll bar========= */
::-webkit-scrollbar{
    width: .6rem;
    background: rgb(12, 12, 11);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(30, 8%, 14%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(29, 60%, 65%);
}
.scroll_up{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    color: var(--first-color);
    box-shadow: 0 12px  24px hsla(0, 0%, 0%, .3);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}
.scroll_up:hover{
    transform: translateY(-.5rem);
}
.show-scroll{
    bottom: 3rem;
}
/* ========Breakpoints========= */
/* -----for Small Devices----- */
@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }
    .home_title{
        font-size: 2.5rem;
    }
    .home_footer{
        flex-direction: column;
        row-gap: 2rem;
    }
    .new_content{
        grid-template-columns: 200px;
        justify-content: center;
    }
    .new_card{
        flex-direction: column;
        row-gap: 1rem;
        text-align: center;
    }
    .new_card:nth-child(2) img{
        order: initial;
    }
    .favourite_container{
        grid-template-columns: 180px;
        justify-content: center;
    }
    .footer_content{
        grid-template-columns: max-content;
    }
}
/* ----for Medium Devices---- */
@media  screen and (min-width: 576px){
    .nav-menu{
        width: 50%;
    }
    .home_container,
    .new_content,
    .about_container,
    .visit_content{
        grid-template-columns: 350px;
        justify-content: center;
    } 
    .favourite_container{
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
    }
    .footer_content{
        grid-template-columns: repeat(3, max-content);
    }
}
@media screen  and (min-width: 768px){
    .home{
        padding-top: 3rem;
    }
    .home_container{
        grid-template-columns: repeat(2, 350px);
        align-items: center;
    }
    .home_data{
        text-align: initial;
    }
    .home_footer{
        grid-column: 1 / 3;
    }
    .about_container{
        grid-template-columns: repeat(2, 350px);
        align-items: center;
    }
    .about_data{
        order: 1;
    }
    .about_data,
    .about_data .section_title{
        text-align: initial;
    }
    .favourite_container{
        grid-template-columns: repeat(3, 180px);
    }
    .footer_container{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
    .footer_img-1{
        top: 6rem;
    }
    .footer_img-2{
        top: 8rem;
    }
}
/* -----for Large devices----- */
@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
     }
     .section{
        padding-block: 7rem 2rem;
     }
    .nav{
        height: calc(var(--header-height) + 2rem);
     } 
    .nav-toggle,
    .nav-close,
    .nav_img-1,
    .nav_img-2{
        display: none;
     }
     .nav-menu{
        width: initial;
     }
     .nav_list{
        flex-direction: row;
        column-gap: 4rem;
     }
     .home_container{
        grid-template-columns: 470px 550px;
        column-gap: 3rem;
     }
     .home_title{
        margin-bottom: 2rem;
     } 
     .home_bread{
        width: 80px;
        left: 18rem;
     }
     .home_image{
        max-width: initial;
        width: 450px; /*550*/
     }
     .home_location i{
        font-size: 2rem;
     }
     .home_location span{
        font-size: var(--normal-font-size);
     }
     .home_social{
        column-gap: 1.5rem;
     }
     .new_container{
        padding-top: 4rem;
     }
     .new_content{
        grid-template-columns: repeat(3 , 270px);
        column-gap: 5.5rem;
     }
     .new_card{
        flex-direction: column;
        row-gap: 2rem;
        text-align: center;
     }
     .new_title{
        font-size: var(--h1-font-size);
     }
     .new_description{
        font-size: var(--normal-font-size);
        padding-inline: 1rem;
     }
     .new_img{
        width: 250px;
     }
     .about_container{
        grid-template-columns: 450px 430px;
        column-gap: 7rem;
     }
     .about_img{
        width: 450px;
     }
     .about_bread{
        width: 90px;
        bottom: -3rem;
        right: 4rem;
     }
     .favourite_container{
        padding-top: 5.5rem;
        grid-template-columns: repeat(3, 240px);
        gap: 5.5rem 2rem;
     }
     .favourite_card{
        padding: 9.75rem 1.5rem 2rem;
     }
     .favourite_img{
        width: 180px;
        top: -3rem;
     }
     .favourite_price{
        font-size: var(--h3-font-size);
     }
     .favorite_button{
        font-size: 1rem;
        bottom: 1.5rem;
        right: 1.5rem;
     }
     .visit_container{
        padding-block: 4rem;
     }
     .visit_content{
        grid-template-columns: 480px;
     }
     .footer{
        padding-block: 5rem 3rem;
     }
    .footer_logo,
    .footer_title{
        margin-bottom: 1.5rem;
    }
    .footer_content{
        column-gap: 4.5rem;
    }
    .footer_social{
        column-gap: 1.5rem;
    }
    .footer_img-1{
        width: 90px;
        right: initial;
        left: 15rem;
    }
    .footer_img-2{
        width: 90px;
        left: initial;
        right: 7rem;
    }
    .footer_copy{
        margin-top: 8rem;
    }
    .scroll_up{
        right: 3rem;
    }

}















/* ========Responsiveness and Media query========== */
@media screen and (in-width: 1150px){
    :root{
        --biggest-font-size: 5rem;
        --bigger-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

